<div class="global-header-mobile">
    <nav id="mobile_globalnavid" class="mobile-globalnav" lang="es-MX">
        <div class="container">
            <div class="globalnav-content">
                <ul class="globalnav-list" role="none">
                    <li class="globalnav-item globalnav-item-luar">
                        <a href="/" class="globalnav-menuback-button">
                            <span class="globalnav-logo-icon"></span>
                        </a>
                    </li>
                    <li class="globalnav-item">
                        <div class="icon-mobile-navbar mobile-nav-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="mobile-globalnav_fixedid" class="mobile-globalnav_fixed" lang="es-MX">
        <div class="container">
            <div class="globalnav-content">
                <ul class="globalnav-list" role="none">
                    <li class="globalnav-item globalnav-item-luar">
                        <a href="/" class="globalnav-menuback-button">
                            <span class="globalnav-logo-icon-color"></span>
                        </a>
                    </li>
                    <li class="globalnav-item">
                        <div class="icon-mobile-navbar mobile-nav-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
    const navIcons = document.querySelectorAll('.icon-mobile-navbar');
    navIcons.forEach (navIcon => {  
    navIcon.addEventListener('click', (event) => {
        navIcon.classList.toggle("open-menu-mobilenavbar");
    });
    });
</script>