
<div class="global-header">
    <nav id="globalnavid" class="globalnav" lang="es-MX">
        <div class="container">
            <div class="globalnav-content">
                <ul class="globalnav-list" role="none">
                    <li class="globalnav-item globalnav-item-luar">
                        <a href="/" class="globalnav-menuback-button">
                            <span class="globalnav-logo-icon"></span>
                        </a>
                    </li>
                    <li class="globalnav-item globalnav-item-flex">
                        <div class="globalnav-link-cta">
                            <a href="#design" class="globalnav-link">
                                Design
                            </a>
                        </div>
                        <div class="globalnav-link-cta">
                            <a href="/about" class="globalnav-link">
                                About
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>